<html lang="en">
    <head>
        <link rel="reset" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Gabriel's burgers</title>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>DELI-VERY MAP</title>
        <link rel="stylesheet" href="css/deli-very.css">
        <script src="/vue/vue.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script src="js/deli-very.js" defer></script>

         <script src="https://vuejs.org/js/vue.js"></script>
         <script type="text/javascript" src="js/menu.js"></script>
         <script src="js/js_script.js" defer></script>
         <script src="js/vue_script.js" defer></script>
    </head>
    <body>
        <main id ="mainBody">
            <figure>
                <h1 id="Welcome">Welcome to Gabriesl's burgers</h1>
                <td><img src="img/leafs.jpg" alt="Leafs" id="Leafs"></td>
            </figure>
            <section id="Burgers" >
                <h3>Select your burger</h3>
                <p>
                    This is where you choose your burger
                </p>

                <table id="burgerTable" class="Burger_grid">
                    <thead>
                        <tr>
                            <th v-for="burger in burgers">{{burger.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="burger in burgers">
                                <img :src="burger.imgPath" :alt="burger.name" width = 100%>
                            </td>
                        </tr>
                        <tr>
                            <td v-for="burger in burgers">
                                <input type="checkbox" v-bind:id=burger.name value=burger.name>
                            </td>
                        </tr>
                        <tr>
                            <td v-for="burger in burgers">{{burger.name}}</td>
                        </tr>

                    </tbody>
                </table>
                <!-- <div class="Burger_grid" id="burgerGrid">
                    <div id="insideBurgers" v-for="burger in burgers">
                        {{burger.name}}
                    </div> -->
                </div>
            </section>
            <section id = "Customer_info">
                <h3>Customer infromation</h3>
                <p>This is where you provide necessary information</p>
                <p>
                    <label for="Full name">Name</label><br>
                    <input v-model="order.name" type="text" id="name" name="n" required="required" placeholder="First and last name" />
                </p>
                <p>
                    <label for="E-mail">email</label><br>
                    <input v-model="order.email" type="email" id="email" name="em" required="required" placeholder="E-mail address" />
                </p>
                <p>
                    <label for="payment">Payment</label><br />
                    <select v-model="order.payment" id="payment" name="py">
                        <option selected = "selected">Swish</option>
                        <option>Credit Card</option>
                        <option>Bitcoin</option>
                        <option>Cash with Postnord</option>
                    </select>
                </p>
                <p>
                    Choose Gender <br>
                    <input v-model="order.gender" type="radio" name="Gender" id = "male" value = male> <label for="male">Male</label><br>
                    <input v-model="order.gender" type="radio" name="Gender" id = "female" value = female> <label for="female">Female</label><br>
                    <input v-model="order.gender" type="radio" name="Gender" id = "nonbinary" value = "non binary"/> <label for="nonbinary">Non binary</label><br>
                    <input v-model="order.gender" checked = "checked" type="radio" name="Gender" id = "none" value = none> <label for="none">Do not wish to provide</label><br>
                </p>



                <body>
                  <h1> Click in the map! </h1>
                  <a href="/dispatcher" target="_blank">Open dispatcher in new window</a>.
                  <div class="view-box">
                    <div id="dots" v-on:click="displayOrder">
                        <!--<div

                          v-for="(order, key) in orders"
                          v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">-->
                        <div v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">

                        </div>
                    </div>
                  </div>
                </body>
                </html>


                <button id="submitButton" type="submit" v-on:click=addOrder ><img src="./img/download.jpg" width = 10 /> Send Info</button>
                <!-- <button id="testButton" type="submit" v-on:click=getAnswers ><img src="./img/download.jpg" width = 10 /> TESTING</button> -->
                <div  v-if="showAnswers" id="returnOrder">
                    <h4>This is your order:</h4>
                    Name: {{order.name}} <br />
                    E-mail: {{order.email}} <br/>
                    Payment method: {{order.payment}} <br />
                    Gendet: {{order.gender}} <br />
                    Selected burgers:
                    <span v-for="burger in order.selectedburgers">
                        {{burger}},
                    </span>
                </div>

                </section>
        </main>
        <footer>
            <p>
                © 2020 Gabriel Burgers Inc.
            </p>
        </footer>
    </body>
</html>
