<html lang="en">
    <head>
        <link rel="reset" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Gabriel's burgers</title>
        <meta charset="utf-8"/>
         <script src="js/js_script.js" defer></script>
         <script src="js/vue_script.js" defer></script>
         <script src="https://vuejs.org/js/vue.js"></script>
         <script type="text/javascript" src="js/menu.js"></script>
    </head>
    <body>
        <main id ="mainBody">
            <figure>
                <h1 id="Welcome">Welcome to Gabriesl's burgers</h1>
                <td><img src="img/leafs.jpg" alt="Leafs" id="Leafs"></td>
            </figure>
            <section id="Burgers" >
                <h3>Select your burger</h3>
                <p>
                    This is where you choose your burger
                </p>

                <table id="burgerTable" class="Burger_grid">
                    <thead>
                        <tr>
                            <th v-for="burger in burgers">{{burger.name}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td v-for="burger in burgers">
                                <img :src="burger.imgPath" :alt="burger.name" width = 100%>
                            </td>
                        </tr>
                        <tr>
                            <td v-for="burger in burgers">
                                <input type="checkbox" v-bind:id=burger.name value=burger.name>
                            </td>
                        </tr>
                        <tr>
                            <td v-for="burger in burgers">{{burger.name}}</td>
                        </tr>

                    </tbody>
                </table>
                <!-- <div class="Burger_grid" id="burgerGrid">
                    <div id="insideBurgers" v-for="burger in burgers">
                        {{burger.name}}
                    </div> -->
                </div>
            </section>
            <section id = "Customer_info">
                <h3>Customer infromation</h3>
                <p>This is where you provide necessary information</p>
                <p>
                    <label for="Full name">Name</label><br>
                    <input v-model="name" type="text" id="name" name="n" required="required" placeholder="First and last name" />
                </p>
                <p>
                    <label for="E-mail">email</label><br>
                    <input v-model="email" type="email" id="email" name="em" required="required" placeholder="E-mail address" />
                </p>
                <p>
                    <label for="street">Street name</label><br>
                    <input v-model="street" type="text" id="street" name="st" placeholder="Street name" />
                </p>
                <p>
                    <label for="house">House number</label><br>
                    <input v-model="house" type="number" id="house" name="hn" placeholder="House number" />
                </p>
                <p>
                    <label for="payment">Payment</label><br />
                    <select v-model="payment" id="payment" name="py">
                        <option selected = "selected">Swish</option>
                        <option>Credit Card</option>
                        <option>Bitcoin</option>
                        <option>Cash with Postnord</option>
                    </select>
                </p>
                <p>
                    Choose Gender <br>
                    <input v-model="gender" type="radio" name="Gender" id = "male" value = male> <label for="male">Male</label><br>
                    <input v-model="gender" type="radio" name="Gender" id = "female" value = female> <label for="female">Female</label><br>
                    <input v-model="gender" type="radio" name="Gender" id = "nonbinary" value = "non binary"/> <label for="nonbinary">Non binary</label><br>
                    <input v-model="gender" checked = "checked" type="radio" name="Gender" id = "none" value = none> <label for="none">Do not wish to provide</label><br>
                </p>
                <button id="submitButton" type="submit" v-on:click=mylog><img src="./img/download.jpg" width = 10 /> Send Info</button>
                <button id="testButton" type="submit" v-on:click=getAnswers ><img src="./img/download.jpg" width = 10 /> TESTING</button>
                <div  v-if="showAnswers" id="returnOrder">
                    <h4>This is your order:</h4>
                    Name: {{name}} <br />
                    E-mail: {{email}} <br />
                    Street: {{street}} <br />
                    House nr: {{house}} <br />
                    Payment method: {{payment}} <br />
                    Gendet: {{gender}} <br />
                    Selected burgers:
                    <span v-for="burger in selectedburgers">
                        {{burger}}, 
                    </span>
                </div>
        </main>
        <footer>
            <p>
                © 2020 Gabriel Burgers Inc.
            </p>
        </footer>
    </body>
</html>
