<html lang="en">
    <head>
        <link rel="reset" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>Gabriel's burgers</title>
        <meta charset="utf-8"/>
         <script src="js/js_script.js" defer></script>
         <script src="js/vue_script.js" defer></script>
         <script src="https://vuejs.org/js/vue.js"></script>
    </head>
    <body>
        <main>
            <figure>
                <h1 id="Welcome">Welcome to Gabriesl's burgers</h1>
                <td><img src="img/leafs.jpg" alt="Leafs" id="Leafs"></td>
            </figure>
            <section id="Burgers" >
                <h3>Select your burger</h3>
                <p>
                    This is where you choose your burger
                </p>

                <div class="Burger_grid" id="burgerGrid" >
                </div>
            </section>
            <section id = "Customer_info">
                <h3>Customer infromation</h3>
                <p>This is where you provide necessary information</p>
                <p>
                    <label for="Full name">Name</label><br>
                    <input type="text" id="name" name="n" required="required" placeholder="First and last name" />
                </p>
                <p>
                    <label for="E-mail">email</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail address" />
                </p>
                <p>
                    <label for="street">Street name</label><br>
                    <input type="text" id="street" name="st" placeholder="Street name" />
                </p>
                <p>
                    <label for="house">House number</label><br>
                    <input type="number" id="house" name="hn" placeholder="House number" />
                </p>
                <p>
                    <label for="payment">Payment</label><br />
                    <select id="payment" name="py">
                        <option selected = "selected">Swish</option>
                        <option>Credit Card</option>
                        <option>Bitcoin</option>
                        <option>Cash with Postnord</option>
                    </select>
                </p>
                <p>
                    Choose Gender <br>
                    <input type="radio" name="Gender" id = "male" value = male/> <label for="male">Male</label><br>
                    <input type="radio" name="Gender" id = "female" value = female/> <label for="female">Female</label><br>
                    <input type="radio" name="Gender" id = "nonbinary" value = non binary/> <label for="nonbinary">Non binary</label><br>
                    <input checked = "checked" type="radio" name="Gender" id = "none" value = none/> <label for="none">Do not wish to provide</label><br>
                </p>
                <button type="submit"><img src="./img/download.jpg" width = 10/> Send Info</button>
        </main>
        <footer>
            <p>
                © 2020 Gabriel Burgers Inc.
            </p>
        </footer>
    </body>
</html>
