@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis';
body{
    font-family: Areal, sans-serif;
    font-size: 5mm;
}

figure{
    width: 100%
    height: auto;
    max-height: 400px;
    overflow: hidden;
    margin: 40px;
}

#Welcome{
    margin: 100px 20%;
    position: absolute;
}

#Leafs{
    opacity: 0.5;
}

#allergies{
    font-weight: bold;
}

#Burgers{
    padding: 40px;
    background-color: rgb(0,0,0);
    color: rgb(255,255,255);
    border: 10px dashed rgb(255,255,255);
}

.Burger_grid{
    /*display: grid;*/
    display:table-header-group;
    grid-gap: 3%;
    grid-template-columns: 15% 15% 15% 15% 15%;
    background-color: rgb(100,0,0);
    color: rgb(255,255,255);
}

.box {
    background-color: rgb(0,0,0);
    color: rgb(0,0,0);
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

section{
    margin: 40px;
}

table{
    margin: 0 auto;
    width: 80%;
}
#Customer_info{
    border: 10px dashed rgb(0,0,0);
    padding: 40px;
}

button:hover{
    background-color: rgb(0,255,0);
}

button{
    margin: 20px 0px;
    padding: 10px;
}

/*For the map*/
.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}
